
.SwiperSlide{
    /* margin: 20px; */
    /* padding: 10px; */
}

.a{
    margin: 50px;
    padding: 50px;


}
.i{
    display: block;
    width: 100%;
}

.c{
    margin: 100px;
    padding: 50px;
}


