:root{
  --color-primary: rgb(62, 129, 109);
  --color-sec: rgb(71, 83, 80);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container{
max-width:1300px ;
min-height: 100vh;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 50px;

}

.dark{

  background-color: #1111;
  color: #bbb;

}

.light{
 background-color: white;
 color:black;


}

.theme{
  transition: .5s;
}